*{
  margin: 0;
  padding: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#banner{
  background-image:url(istockphoto-1337466395-612x612.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.logo{
  width: auto;
  height: 70px;
  position: absolute;
  top: 4%;
  left: 2%;
  margin: auto;
}
.banner{
  text-align: center;
  color: #8063cf;
  padding-top: 180px;
}
.banner h1{
  font: size 130px; ;
}
.banner p{
  font-size: 20px;
  font-style: italic;
}
.banner-btn{
  margin: 70px auto 0;
}
.banner-btn a{
  width: 150px;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
  padding: 12px 0;
  color: #bdf3ff;
  border: 6px solid #a4d1e6;
  background-color: black;
}
.photo-section {
  justify-content: center;
  margin-left: 215px;
  margin-right: 215px;
  margin-top: 20px;
  margin-bottom: 20px;
  
}

h1{
    text-align: center;
    font-size: 50px;
    color: chocolate;
    margin-bottom:20px;
    text-decoration: underline;
}


.photo-section h1{
  text-align: center;
  font-size: 30px;
  color: black;
  margin-bottom:10px;

  margin:auto
  

}